.adminpanel {
    width: 95%;
    margin: 50px auto;
}


/* The card list */
.listDiv {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-space-between;
}

/* Logged in div */
.loggedInDiv {
    position: absolute;
    right: 15px;
    top: 10px;
}
