.adminpanel {
    width: 95%;
    margin: 50px auto;
}


/* The card list */
.listDiv {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-space-between;
}

/* Logged in span */
.loggedInSpan {
    display: inline-block;
    margin-right: 1px;
    padding: 4px 8px;
    font-size: 1.2em;
    vertical-align: -1px;
    font-weight: 100;
}
